* {
	box-sizing: border-box;
	margin-top: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	min-height: calc(100vh - 100px);
}

a {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.blog-header {
	margin-top: 0;
	width: 100%;
	height: 300px;
}

.logo {
	margin-top: 0px;
	margin-left: 0px;
	width: 250px;
	height: 264px;
}

.wrapper {
	width: 90vw;
	margin-top: 3.5rem;
	margin-left: auto;
	margin-right: auto;
}

.plant-blog {
	display: grid;
	grid-template-columns: 250px 1fr 250px;
	grid-auto-rows: auto;
	grid-gap: 20px;
	grid-template-areas: 
	"blog-title blog-title blog-title"
	"plant-biology overviews species-families";
}

.blog-title {
	grid-area: blog-title;
}
.overviews {
	grid-area: overviews;
}

.plant-bilogy {
	grid-area: plant-biology;
}

.species-families {
	grid-area: species-families;
}

.plant-type-family {
  margin-bottom: 30px;
}

.plant-features {
  margin-bottom: 30px;
}

footer {
	width: 100vw;
	margin-top: 3.125rem;
	background-color: #f2f2f2;
}